In [10]:
library(tidyverse)
library(tidymodels)

In [12]:
data <- read_csv2("https://drive.google.com/u/0/uc?id=1r8z-f85larbfItrABtwmpBeNK_TSDNO1&export=download")
data

Using ',' as decimal and '.' as grouping mark. Use read_delim() for more control.

Parsed with column specification:
cols(
  .default = col_character(),
  age = col_double(),
  duration = col_double(),
  campaign = col_double(),
  pdays = col_double(),
  previous = col_double(),
  emp.var.rate = col_number(),
  cons.price.idx = col_number(),
  cons.conf.idx = col_number(),
  nr.employed = col_number()
)

See spec(...) for full column specifications.

     age job           marital  education           default housing loan
1    30  blue-collar   married  basic.9y            no      yes     no
2    39  services      single   high.school         no      no      no
3    25  services      married  high.school         no      yes     no
4    38  services      married  basic.9y            no      unknown unknown
5    47  admin.        married  university.degree   no      yes     no
6    32  services      single   university.degree   no      no      no
7    32  admin.        single   university.degree   no      yes     no
8    41  entrepreneur  married  university.degree   unknown yes     no
9    31  services      divorced professional.course no      no      no
10   35  blue-collar   married  basic.9y            unknown no      no
11   25  services      single   basic.6y            unknown yes     no
12   36  self-employed single   basic.4y            no      no      no
13   36  admin.        married  high.school         no      no      no
14   47  blue-collar   married  basic.4y            no      yes     no
15   29  admin.        single   high.school         no      no      no
16   27  services      single   university.degree   no      no      no
17   44  admin.        divorced university.degree   no      no      no
18   46  admin.        divorced university.degree   no      yes     no
19   45  entrepreneur  married  university.degree   unknown yes     yes
20   50  blue-collar   married  basic.4y            no      no      yes
21   55  services      married  basic.6y            unknown yes     no
22   39  technician    divorced high.school         no      no      no
23   29  technician    single   university.degree   no      yes     yes
24   40  management    married  high.school         no      no      yes
25   44  technician    married  professional.course unknown yes     no
26   38  technician    married  professional.course no      yes     no
27   36  technician    divorced professional.course no      no      no
28   28  blue-collar   married  basic.6y            unknown no      no
29   47  admin.        single   unknown             unknown no      no
30   34  admin.        married  university.degree   no      no      no
⋮    ⋮   ⋮             ⋮        ⋮                   ⋮       ⋮       ⋮
4090 25  admin.        single   university.degree   no      yes     yes
4091 43  blue-collar   married  basic.4y            unknown yes     yes
4092 38  management    married  high.school         unknown no      no
4093 30  blue-collar   single   high.school         no      no      no
4094 56  retired       married  basic.4y            unknown no      no
4095 62  blue-collar   married  basic.4y            no      yes     no
4096 36  admin.        single   university.degree   no      no      yes
4097 33  services      married  high.school         no      no      no
4098 41  blue-collar   divorced basic.9y            no      no      no
4099 34  housemaid     single   university.degree   no      yes     no
4100 58  admin.        divorced high.school         no      no      no
4101 41  admin.        divorced high.school         no      no      no
4102 35  entrepreneur  single   university.degree   no      yes     no
4103 31  blue-collar   single   basic.9y            unknown no      yes
4104 43  services      married  high.school         no      no      no
4105 42  technician    divorced professional.course no      yes     no
4106 47  housemaid     married  basic.4y            unknown yes     no
4107 45  entrepreneur  divorced basic.9y            no      yes     no
4108 36  admin.        married  university.degree   unknown yes     no
4109 32  admin.        married  university.degree   no      yes     no
4110 63  retired       married  high.school         no      no      no
4111 53  housemaid     divorced basic.6y            unknown unknown unknown
4112 30  technician    married  university.degree   no      no      yes
4113 31  technician    single   professional.course no      yes     no
4114 31  admin.        single   university.degree   no      yes     no
4115 30  admin.        married  basic.6y            no      yes     yes
4116 39  admin.        married  high.school         no      yes     no
4117 27  student       single   high.school         no      no      no
4118 58  admin.        married  high.school         no      no      no
4119 34  management    single   high.school         no      yes     no
     contact   month day_of_week ⋯ campaign pdays previous poutcome
1    cellular  may   fri         ⋯ 2        999   0        nonexistent
2    telephone may   fri         ⋯ 4        999   0        nonexistent
3    telephone jun   wed         ⋯ 1        999   0        nonexistent
4    telephone jun   fri         ⋯ 3        999   0        nonexistent
5    cellular  nov   mon         ⋯ 1        999   0        nonexistent
6    cellular  sep   thu         ⋯ 3        999   2        failure
7    cellular  sep   mon         ⋯ 4        999   0        nonexistent
8    cellular  nov   mon         ⋯ 2        999   0        nonexistent
9    cellular  nov   tue         ⋯ 1        999   1        failure
10   telephone may   thu         ⋯ 1        999   0        nonexistent
11   cellular  jul   thu         ⋯ 1        999   0        nonexistent
12   cellular  jul   thu         ⋯ 1        999   0        nonexistent
13   telephone may   wed         ⋯ 2        999   0        nonexistent
14   telephone jun   thu         ⋯ 2        999   0        nonexistent
15   cellular  may   fri         ⋯ 2        999   0        nonexistent
16   cellular  jul   wed         ⋯ 2        999   0        nonexistent
17   cellular  jul   wed         ⋯ 6        999   0        nonexistent
18   telephone jul   mon         ⋯ 4        999   0        nonexistent
19   cellular  aug   mon         ⋯ 2        999   0        nonexistent
20   cellular  jul   tue         ⋯ 1        999   0        nonexistent
21   cellular  jul   tue         ⋯ 6        999   0        nonexistent
22   cellular  mar   mon         ⋯ 1         12   2        success
23   cellular  aug   wed         ⋯ 3        999   0        nonexistent
24   cellular  aug   wed         ⋯ 1        999   0        nonexistent
25   telephone may   fri         ⋯ 7        999   0        nonexistent
26   cellular  aug   mon         ⋯ 1        999   0        nonexistent
27   telephone may   wed         ⋯ 1        999   0        nonexistent
28   cellular  may   mon         ⋯ 2        999   1        failure
29   telephone may   thu         ⋯ 1        999   0        nonexistent
30   cellular  aug   tue         ⋯ 1        999   0        nonexistent
⋮    ⋮         ⋮     ⋮           ⋱ ⋮        ⋮     ⋮        ⋮
4090 cellular  oct   fri         ⋯  1       999   1        failure
4091 telephone may   tue         ⋯  2       999   0        nonexistent
4092 telephone may   thu         ⋯  2       999   0        nonexistent
4093 telephone jul   wed         ⋯  1       999   0        nonexistent
4094 cellular  jul   tue         ⋯  3       999   0        nonexistent
4095 cellular  nov   mon         ⋯  1         6   1        success
4096 cellular  aug   fri         ⋯  2       999   0        nonexistent
4097 telephone may   mon         ⋯  2       999   0        nonexistent
4098 cellular  aug   tue         ⋯  1       999   0        nonexistent
4099 cellular  aug   thu         ⋯  3       999   0        nonexistent
4100 cellular  aug   tue         ⋯  1       999   0        nonexistent
4101 cellular  apr   fri         ⋯  1       999   0        nonexistent
4102 cellular  jul   mon         ⋯  5       999   0        nonexistent
4103 telephone jun   fri         ⋯  2       999   0        nonexistent
4104 telephone may   mon         ⋯  1       999   0        nonexistent
4105 cellular  aug   mon         ⋯  1       999   0        nonexistent
4106 telephone jul   tue         ⋯  2       999   0        nonexistent
4107 cellular  may   tue         ⋯  3       999   0        nonexistent
4108 cellular  aug   wed         ⋯ 11       999   0        nonexistent
4109 telephone may   thu         ⋯  5       999   0        nonexistent
4110 cellular  oct   wed         ⋯  1       999   0        nonexistent
4111 telephone may   fri         ⋯  2       999   0        nonexistent
4112 cellular  jun   fri         ⋯  1       999   1        failure
4113 cellular  nov   thu         ⋯  1       999   0        nonexistent
4114 cellular  nov   thu         ⋯  1       999   0        nonexistent
4115 cellular  jul   thu         ⋯  1       999   0        nonexistent
4116 telephone jul   fri         ⋯  1       999   0        nonexistent
4117 cellular  may   mon         ⋯  2       999   1        failure
4118 cellular  aug   fri         ⋯  1       999   0        nonexistent
4119 cellular  nov   wed         ⋯  1       999   0        nonexistent
     emp.var.rate cons.price.idx cons.conf.idx euribor3m nr.employed y
1    -18          92893          -462          1.313     50991       no
2     11          93994          -364          4.855      5191       no
3     14          94465          -418          4.962     52281       no
4     14          94465          -418          4.959     52281       no
5     -1            932           -42          4.191     51958       no
6    -11          94199          -375          0.884     49636       no
7    -11          94199          -375          0.879     49636       no
8     -1            932           -42          4.191     51958       no
9     -1            932           -42          4.153     51958       no
10    11          93994          -364          4.855      5191       no
11    14          93918          -427          4.958     52281       no
12    14          93918          -427          4.968     52281       no
13    11          93994          -364          4.859      5191       no
14    14          94465          -418          4.958     52281       no
15   -18          92893          -462          1.313     50991       no
16    14          93918          -427          4.963     52281       no
17    14          93918          -427          4.957     52281       no
18    14          93918          -427          4.962     52281       no
19    14          93444          -361          4.965     52281       no
20    14          93918          -427          4.961     52281       yes
21    14          93918          -427          4.962     52281       no
22   -18          93369          -348          0.639     50087       yes
23    14          93444          -361          4.967     52281       no
24    14          93444          -361          4.965     52281       no
25    11          93994          -364          4.864      5191       no
26    14          93444          -361          4.965     52281       yes
27    11          93994          -364          4.856      5191       no
28   -18          92893          -462          1.299     50991       no
29    11          93994          -364          4.86       5191       no
30    14          93444          -361          4.963     52281       no
⋮    ⋮            ⋮              ⋮             ⋮         ⋮           ⋮
4090 -34          92431          -269          0.739     50175       yes
4091  11          93994          -364          4.857      5191       no
4092  11          93994          -364          4.86       5191       no
4093  14          93918          -427          4.956     52281       no
4094  14          93918          -427          4.961     52281       no
4095 -34          92649          -301          0.719     50175       no
4096  14          93444          -361          4.963     52281       no
4097  11          93994          -364          4.857      5191       no
4098  14          93444          -361          4.963     52281       no
4099  14          93444          -361          4.963     52281       no
4100  14          93444          -361          4.963     52281       no
4101 -18          93075          -471          1.405     50991       no
4102  14          93918          -427          4.96      52281       no
4103  14          94465          -418          4.959     52281       no
4104  11          93994          -364          4.857      5191       no
4105  14          93444          -361          4.97      52281       no
4106  14          93918          -427          4.961     52281       no
4107 -18          92893          -462          1.344     50991       no
4108  14          93444          -361          4.964     52281       no
4109 -18          92893          -462          1.266     50991       no
4110 -34          92431          -269          0.74      50175       no
4111  11          93994          -364          4.855      5191       no
4112 -17          94055          -398          0.748     49916       no
4113  -1            932           -42          4.076     51958       no
4114  -1            932           -42          4.076     51958       no
4115  14          93918          -427          4.958     52281       no
4116  14          93918          -427          4.959     52281       no
4117 -18          92893          -462          1.354     50991       no
4118  14          93444          -361          4.966     52281       no
4119  -1            932           -42          4.12      51958       no

In [14]:
data <- select(data, "age", 'job', 'marital', 'education', 'default', 'housing', 'loan', 'month', 'campaign', 'poutcome')
data

     age job           marital  education           default housing loan
1    30  blue-collar   married  basic.9y            no      yes     no
2    39  services      single   high.school         no      no      no
3    25  services      married  high.school         no      yes     no
4    38  services      married  basic.9y            no      unknown unknown
5    47  admin.        married  university.degree   no      yes     no
6    32  services      single   university.degree   no      no      no
7    32  admin.        single   university.degree   no      yes     no
8    41  entrepreneur  married  university.degree   unknown yes     no
9    31  services      divorced professional.course no      no      no
10   35  blue-collar   married  basic.9y            unknown no      no
11   25  services      single   basic.6y            unknown yes     no
12   36  self-employed single   basic.4y            no      no      no
13   36  admin.        married  high.school         no      no      no
14   47  blue-collar   married  basic.4y            no      yes     no
15   29  admin.        single   high.school         no      no      no
16   27  services      single   university.degree   no      no      no
17   44  admin.        divorced university.degree   no      no      no
18   46  admin.        divorced university.degree   no      yes     no
19   45  entrepreneur  married  university.degree   unknown yes     yes
20   50  blue-collar   married  basic.4y            no      no      yes
21   55  services      married  basic.6y            unknown yes     no
22   39  technician    divorced high.school         no      no      no
23   29  technician    single   university.degree   no      yes     yes
24   40  management    married  high.school         no      no      yes
25   44  technician    married  professional.course unknown yes     no
26   38  technician    married  professional.course no      yes     no
27   36  technician    divorced professional.course no      no      no
28   28  blue-collar   married  basic.6y            unknown no      no
29   47  admin.        single   unknown             unknown no      no
30   34  admin.        married  university.degree   no      no      no
⋮    ⋮   ⋮             ⋮        ⋮                   ⋮       ⋮       ⋮
4090 25  admin.        single   university.degree   no      yes     yes
4091 43  blue-collar   married  basic.4y            unknown yes     yes
4092 38  management    married  high.school         unknown no      no
4093 30  blue-collar   single   high.school         no      no      no
4094 56  retired       married  basic.4y            unknown no      no
4095 62  blue-collar   married  basic.4y            no      yes     no
4096 36  admin.        single   university.degree   no      no      yes
4097 33  services      married  high.school         no      no      no
4098 41  blue-collar   divorced basic.9y            no      no      no
4099 34  housemaid     single   university.degree   no      yes     no
4100 58  admin.        divorced high.school         no      no      no
4101 41  admin.        divorced high.school         no      no      no
4102 35  entrepreneur  single   university.degree   no      yes     no
4103 31  blue-collar   single   basic.9y            unknown no      yes
4104 43  services      married  high.school         no      no      no
4105 42  technician    divorced professional.course no      yes     no
4106 47  housemaid     married  basic.4y            unknown yes     no
4107 45  entrepreneur  divorced basic.9y            no      yes     no
4108 36  admin.        married  university.degree   unknown yes     no
4109 32  admin.        married  university.degree   no      yes     no
4110 63  retired       married  high.school         no      no      no
4111 53  housemaid     divorced basic.6y            unknown unknown unknown
4112 30  technician    married  university.degree   no      no      yes
4113 31  technician    single   professional.course no      yes     no
4114 31  admin.        single   university.degree   no      yes     no
4115 30  admin.        married  basic.6y            no      yes     yes
4116 39  admin.        married  high.school         no      yes     no
4117 27  student       single   high.school         no      no      no
4118 58  admin.        married  high.school         no      no      no
4119 34  management    single   high.school         no      yes     no
     month campaign poutcome
1    may   2        nonexistent
2    may   4        nonexistent
3    jun   1        nonexistent
4    jun   3        nonexistent
5    nov   1        nonexistent
6    sep   3        failure
7    sep   4        nonexistent
8    nov   2        nonexistent
9    nov   1        failure
10   may   1        nonexistent
11   jul   1        nonexistent
12   jul   1        nonexistent
13   may   2        nonexistent
14   jun   2        nonexistent
15   may   2        nonexistent
16   jul   2        nonexistent
17   jul   6        nonexistent
18   jul   4        nonexistent
19   aug   2        nonexistent
20   jul   1        nonexistent
21   jul   6        nonexistent
22   mar   1        success
23   aug   3        nonexistent
24   aug   1        nonexistent
25   may   7        nonexistent
26   aug   1        nonexistent
27   may   1        nonexistent
28   may   2        failure
29   may   1        nonexistent
30   aug   1        nonexistent
⋮    ⋮     ⋮        ⋮
4090 oct    1       failure
4091 may    2       nonexistent
4092 may    2       nonexistent
4093 jul    1       nonexistent
4094 jul    3       nonexistent
4095 nov    1       success
4096 aug    2       nonexistent
4097 may    2       nonexistent
4098 aug    1       nonexistent
4099 aug    3       nonexistent
4100 aug    1       nonexistent
4101 apr    1       nonexistent
4102 jul    5       nonexistent
4103 jun    2       nonexistent
4104 may    1       nonexistent
4105 aug    1       nonexistent
4106 jul    2       nonexistent
4107 may    3       nonexistent
4108 aug   11       nonexistent
4109 may    5       nonexistent
4110 oct    1       nonexistent
4111 may    2       nonexistent
4112 jun    1       failure
4113 nov    1       nonexistent
4114 nov    1       nonexistent
4115 jul    1       nonexistent
4116 jul    1       nonexistent
4117 may    2       failure
4118 aug    1       nonexistent
4119 nov    1       nonexistent